:root {
  --cell-size: 120px;
}

body {
  display: flex;
  justify-content: center;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background: center / cover no-repeat url('../img/board.jpg');
}

#game div {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isActive:hover {
  cursor: pointer;
}

h4 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.moveImg {
  width: 60%;
  height: 60%;
}
