body {
  display: flex;
  justify-content: center;
}
#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background: grey;
}

#game div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.menu-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-size: 70px;
}

.isActive {
  cursor: pointer;
}

h4 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
